<div class="container sub">
    <div class="sub_title_area">
        <h3>회원관리</h3>
    </div>
    <div class="board">
        <div class="search">
            <md-select name="MEM_TYPE" ng-model="vm.search.MEM_TYPE" aria-label="직군" flex="20">
                <md-option value="0" selected>전체</md-option>
                <md-option ng-repeat="s in vm.member_type" value="{{::s.id}}">{{::s.title}}</md-option>
            </md-select>

            <input type="text" ng-model="vm.search.MEM_NAME" placeholder="검색" >
            <md-button aria-label="검색" class="search_icon" ng-click="vm.search()">검색</md-button>
        </div>
        <div id="client-grid1" ui-grid="vm.gridOptions" ui-grid-selection="" class="grid">
            <div class="no-rows" ng-show="!vm.gridOptions.data.length">
                <div class="msg">
                    <span>검색 결과가 없습니다.</span>
                </div>
            </div>
        </div>
        <ng-include src="'views/sub/paging.html'"></ng-include>
    </div>
</div>
