md-dialog.md-default-theme, md-dialog {
  border-radius: 12px !important; }

@media (max-width: 959px) {
  .md-dialog-container {
    height: 100% !important; }

  .md-dialog-container > form {
    width: 100%;
    height: 100%; }

  md-dialog.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100% !important;
    height: 100%; } }
.popup .input_form {
  padding: 30px 30px 0; }
  .popup .input_form md-input-container textarea.md-input {
    border-radius: 25px; }
  .popup .input_form .md-block {
    margin-bottom: 0;
    margin-top: 10px; }
    .popup .input_form .md-block:first-child {
      margin-top: 17px; }
.popup .login_radio {
  margin-bottom: 26px; }
.popup md-toolbar.md-default-theme:not(.md-menu-toolbar), .popup md-toolbar:not(.md-menu-toolbar) {
  background-color: #fff;
  color: #fff;
  min-height: 50px; }
.popup md-toolbar .md-button:not(.md-datepicker-triangle-button) {
  background-color: transparent;
  min-width: 25px;
  padding: 0;
  margin-top: 5px; }
.popup md-toolbar .md-button.md-default-theme:not([disabled]).md-focused, .popup md-toolbar .md-button:not([disabled]).md-focused, .popup md-toolbar .md-button.md-default-theme:not([disabled]):hover, .popup md-toolbar .md-button:not([disabled]):hover {
  background-color: transparent; }
.popup md-toolbar .md-toolbar-tools {
  height: 60px;
  background-color: #e43a33; }
  .popup md-toolbar .md-toolbar-tools h2.pop_title {
    font-size: 0.8em;
    padding-left: 5px; }
.popup .md-button:not(.md-datepicker-triangle-button) {
  background-color: #e43a33;
  color: #fff;
  margin-right: 0;
  border-radius: 50px;
  margin-top: 0;
  padding: 0 10px;
  margin-bottom: 0; }
  .popup .md-button:not(.md-datepicker-triangle-button).solo {
    margin-left: 0; }
.popup md-checkbox.md-default-theme.md-checked .md-icon, .popup md-checkbox.md-checked .md-icon {
  background-color: #e43a33;
  width: 20px;
  height: 20px; }
.popup .md-button.md-default-theme:not([disabled]).md-focused, .popup .md-button:not([disabled]).md-focused, .popup .md-button.md-default-theme:not([disabled]):hover, .popup .md-button:not([disabled]):hover {
  background-color: #d02720; }
.popup md-radio-group {
  margin-bottom: 20px; }
.popup .team {
  padding: 0; }
  .popup .team md-list-item.md-2-line {
    border-bottom: 1px solid #ddd; }
    .popup .team md-list-item.md-2-line:last-child {
      border-bottom: none; }
  .popup .team .md-button {
    background-color: transparent;
    color: #e43a33;
    padding: 0;
    min-width: 65px; }
    .popup .team .md-button:hover {
      color: #d02720;
      background-color: transparent; }
.popup .popup_bottom {
  padding: 0 30px 30px; }
  .popup .popup_bottom .md-button {
    width: 100%;
    margin: 0;
    line-height: 46px;
    min-height: 46px; }
  .popup .popup_bottom md-divider {
    margin: 15px 0;
    width: 100%; }
  .popup .popup_bottom .etc {
    width: 100%;
    text-align: center; }
    .popup .popup_bottom .etc p {
      font-size: 10pt;
      text-align: center;
      margin-top: 10px; }
      .popup .popup_bottom .etc p a {
        color: #e43a33;
        cursor: pointer; }
    .popup .popup_bottom .etc md-checkbox {
      margin-bottom: 0;
      margin-top: 10px; }
      .popup .popup_bottom .etc md-checkbox .md-label {
        font-size: 10pt;
        margin-top: -5px;
        margin-left: 27px;
        color: #333; }
    .popup .popup_bottom .etc .t_btn {
      font-size: 10pt;
      letter-spacing: -1px;
      color: #e43a33;
      display: inline-block;
      margin-top: 11px;
      margin-left: 10px;
      cursor: pointer; }
  .popup .popup_bottom.nopadding {
    padding: 0; }
    .popup .popup_bottom.nopadding .md-button {
      background-color: transparent;
      color: #333;
      border-top: 1px solid #ddd;
      line-height: 56px;
      min-height: 56px;
      border-radius: 0; }
      .popup .popup_bottom.nopadding .md-button:first-child {
        border-right: 1px solid #ddd; }
      .popup .popup_bottom.nopadding .md-button.red {
        background-color: #454545;
        color: #fff; }
.popup .radio_label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 0; }
.popup md-radio-button .md-label {
  font-size: 11pt;
  margin-top: -4px; }
.popup md-radio-button.md-default-theme .md-on, .popup md-radio-button .md-on {
  background-color: #e43a33; }
.popup md-radio-button.md-default-theme.md-checked .md-off, .popup md-radio-button.md-checked .md-off {
  border-color: #e43a33; }
.popup .md-datepicker-button {
  display: none; }
.popup .service_add {
  margin-bottom: 0; }
  .popup .service_add md-radio-button {
    margin-bottom: 0;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd; }
    .popup .service_add md-radio-button .md-container {
      left: 15px; }
.popup .popup_sum {
  padding: 10px 15px 12px 15px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ddd;
  font-size: 11pt;
  background-color: #efefef; }
  .popup .popup_sum div {
    text-align: right; }
    .popup .popup_sum div b {
      color: #ffa700;
      font-size: 19pt;
      font-weight: 400;
      padding-right: 4px; }
.popup .service_add_info {
  padding: 15px 20px;
  font-size: 11pt;
  border-bottom: 1px solid #ddd; }
.popup md-dialog-content ~ p {
  text-align: center;
  font-size: 10pt; }
.popup .terms_chk {
  font-size: 10pt;
  padding: 20px 20px 0; }
  .popup .terms_chk .terms_list {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative; }
    .popup .terms_chk .terms_list md-input-container {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ddd; }
      .popup .terms_chk .terms_list md-input-container .md-input-message-animation:not(.md-char-counter) {
        padding-left: 45px;
        padding-bottom: 7px;
        padding-top: 0; }
    .popup .terms_chk .terms_list md-checkbox {
      margin: 0;
      padding: 10px 0; }
      .popup .terms_chk .terms_list md-checkbox .md-container {
        margin-left: 15px; }
      .popup .terms_chk .terms_list md-checkbox .md-label {
        margin-left: 45px;
        margin-top: -5px; }
    .popup .terms_chk .terms_list a {
      color: #555;
      cursor: pointer;
      position: absolute; }
      .popup .terms_chk .terms_list a.line_1 {
        right: 15px;
        top: 11px; }
      .popup .terms_chk .terms_list a.line_2 {
        right: 15px;
        top: 11px; }
  .popup .terms_chk md-checkbox.md-default-theme.md-checked .md-ink-ripple, .popup .terms_chk md-checkbox.md-checked .md-ink-ripple {
    color: #e43a33; }
  .popup .terms_chk md-checkbox.md-default-theme.md-checked .md-icon, .popup .terms_chk md-checkbox.md-checked .md-icon {
    background-color: #e43a33; }
.popup .find_result {
  padding: 30px;
  text-align: center; }
  .popup .find_result p {
    color: #d02720;
    margin-top: 10px;
    font-size: 14pt; }
.popup .sug_title {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  font-size: 10pt; }
  .popup .sug_title h3 {
    font-weight: normal;
    font-size: 11pt; }
.popup .sug_body {
  padding: 16px 16px 30px;
  font-size: 11pt;
  white-space: pre-line; }
.popup.start {
  text-align: center; }
  .popup.start .pop_title {
    height: 140px;
    text-align: center;
    margin: auto;
    padding: 30px 0; }
    .popup.start .pop_title img {
      clear: both; }
  .popup.start md-toolbar .md-toolbar-tools {
    height: 140px;
    max-height: 140px; }
  .popup.start md-toolbar.md-default-theme:not(.md-menu-toolbar), .popup.start md-toolbar:not(.md-menu-toolbar) {
    min-height: 120px; }
  .popup.start md-dialog-content h3 {
    font-size: 20pt;
    font-weight: normal;
    margin-top: 25px !important; }
  .popup.start md-dialog-content p {
    padding: 20px;
    font-size: 10pt; }
  .popup.start md-dialog-content ul {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 370px;
    background-image: url("/img/popup/popup_img.png");
    background-repeat: no-repeat;
    background-position: bottom center; }
    .popup.start md-dialog-content ul li {
      float: left;
      width: 25%; }
      .popup.start md-dialog-content ul li span {
        display: block;
        font-size: 10pt; }
  .popup.start md-dialog-actions {
    background-color: #555;
    min-height: 30px; }
    .popup.start md-dialog-actions .md-button {
      background-color: transparent !important; }

.certifi {
  text-align: center;
  padding: 45px 10px; }

.certifi img {
  margin: auto; }

.certifi_title {
  font-size: 16pt;
  color: #d02720;
  margin-top: 20px; }

.certifi_info {
  font-size: 10pt;
  margin-top: 10px;
  line-height: 180%; }

/*# sourceMappingURL=dialog.css.map */
