<div class="container sub">
    <div class="sub_title_area"></div>
    <div class="profile_photo">
        <!--<img src="/img/ex/ptoject_photo1.png" alt="project"/>-->
        <img src="{{vm.user.MEM_IMG}}" alt="image"/>
    </div>
    <div class="profile_info">
        <h3>{{vm.user.MEM_NAME}}<span>{{vm.user.MEM_TYPE}}</span></h3>
        <div class="partner_action" ng-if="vm.guest && vm.guest != vm.user.MEM_ID && $root.currentUser.MEM_ADMIN_YN == 'N'">
            <md-button ng-click="vm.propose()" class="md-raised md-button md-ink-ripple">제안하기</md-button>
            <md-button ng-click="vm.message()" class="md-raised md-button md-ink-ripple">쪽지 작성</md-button>
        </div>
        <h4>개발경력</h4>
        <p>{{vm.user.MEM_SKILLS}}</p>
        <h4>참여게임</h4>
        <p>
            <!--<span>Lonic game (1인개발)</span>
            <span>Low of Elodv / 아이템 및 스킬 로직 개발(개발참여)</span>-->
            <span ng-repeat="game in vm.user.games">{{game.GME_INFO}}</span>

        </p>

        <!-- 기타 경우-->
        <h4 ng-if="vm.user.MEM_TYPE == '기타'">직업</h4>
        <p ng-if="vm.user.MEM_TYPE == '기타'">{{vm.user.MEM_JOB}}</p>


        <!-- 개발자일 경우-->
        <h4 ng-if="vm.user.MEM_TYPE == '개발자'">주요 사용언어</h4>
        <p ng-if="vm.user.MEM_TYPE == '개발자'">{{vm.user.MEM_LANG}}</p>



        <!-- 원화가일 경우-->
        <h4 ng-if="vm.user.MEM_TYPE == '원화가'">포트폴리오</h4>
        <div class="portfolio_photo" ng-if="vm.user.MEM_TYPE == '원화가'">
            <!--<img src="/img/ex/ptoject_photo1.png" alt="portfolio"/>
            <img src="/img/ex/ptoject_photo1.png" alt="portfolio"/>
            <img src="/img/ex/ptoject_photo1.png" alt="portfolio"/>-->

            <!--<img ng-repeat="ptf in vm.user.ptf" class="" no-cache-src="{{ptf.PRF_FILE}}">-->
            <img ng-repeat="ptf in vm.user.ptf" ng-src="{{ptf.PRF_FILE}}" alt="project"/>
        </div>


        <div class="post_clip" ng-if="vm.user.MEM_TYPE == '작곡가' || vm.user.MEM_TYPE == '기획자' || vm.user.MEM_TYPE == '작가' ">
            <!--<b> 첨부파일 목록</b>-->
            <ul>
                <li ng-repeat="f in vm.user.ptf">
                    <a ng-href="/download/{{f.PRF_ID}}">{{f.PRF_FILE_NM}}</a>
                    <!--<a ng-click="vm.fnFileDelete($event, $index, f)" class="del">X</a>-->
                </li>
            </ul>
        </div>


        <!-- 크리에이터 경우-->
        <h4 ng-if="vm.user.MEM_TYPE == '크리에이터'">유튜브/블로그 링크</h4>
        <a ng-if="vm.user.MEM_TYPE == '크리에이터'" href="http://{{vm.user.MEM_LINK}}">{{vm.user.MEM_LINK}}</a>
        <!--<p>{{vm.user.MEM_LINK}}</p>-->


        <!-- 기타 경우-->
        <h4 ng-if="vm.user.MEM_TYPE == '기타'">창작물 링크</h4>
        <a ng-if="vm.user.MEM_TYPE == '기타'" href="http://{{vm.user.MEM_LINK}}">{{vm.user.MEM_LINK}}</a>
        <!--<p>{{vm.user.MEM_LINK}}</p>-->


    </div>
</div>
