<div class="container sub">
    <div class="sub_title_area">
        <h3>인디언즈 소개</h3>
    </div>
    <div class="company">
        <h2>인디 크리에이터들의 인디게임 제작 플랫폼<br />인디언즈(Indiens)</h2>
        <div class="history">
            <img src="/img/company_logo.png" alt="logo"/>
            <ul>
                <li>2018.06.15 <span>인디언즈 설립</span></li>
                <li>2018.09.01 <span>기술혁신형창업기업지원사업 협약 체결</span></li>
                <li>2018.12.01 <span>세종SB플라자 입주협약서 체결</span></li>
            </ul>
        </div>
    </div>
</div>