<form method="post" name="userForm" id="userForm">
    <!-- 이메일 찾기-->
    <md-dialog style="width:470px;" class="popup">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2 class="pop_title">이메일 찾기</h2>
                <md-button aria-label="닫기" ng-click="vm.cancel()"><img src="/img/popup/close.png"/></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div class="input_form nob" layout="column">

                <p style="color: red" class="text-center">{{ vm.error }}</p>
                <md-input-container class="md-block md-input-has-value" md-no-float>
                    <input name="MEM_NAME" type="text" ng-model="vm.user.MEM_NAME" required=""
                           placeholder="성명" maxlength="30">
                    <div ng-messages="userForm.MEM_NAME.$error" ng-if="vm.showError">
                        <div ng-message="required" class="denger">성명을 입력해 주세요.</div>
                        <div ng-message="ng-maxlength">성명은 50자 이내로 입력해 주세요.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block md-input-has-value" md-no-float>
                    <input name="MEM_TEL" type="text" ng-model="vm.user.MEM_TEL" required placeholder="전화번호">
                    <div ng-messages="userForm.MEM_TEL.$error" ng-if="vm.showError">
                        <div ng-message="required">전화번호를 입력해 주세요.</div>
                        <div ng-message="ng-maxlength">전화번호는 20자 이내로 입력해 주세요.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="column" class="popup_bottom">
            <md-button ng-click="vm.confirm()" ng-disabled='userForm.$invalid'
                       class="md-raised md-button md-ink-ripple">
                확인
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</form>