<!-- 이메일 찾기-->
<md-dialog style="width:650px;" class="popup start">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="pop_title"><img src="/img/popup/popup_logo.png"/><p>이용안내</p></h2>
            <md-button aria-label="닫기" ng-click="cancel()"><img src="/img/popup/close.png"/></md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column">
        <h3>게임 제작에 필요한 모든 과정을 <br />인디언즈를 통해 진행해 보세요!</h3>
        <p>기획자, 원화가, 개발자, 크리에이터 등 <br />인디언즈에서 게임 제작을 위한 팀원을 찾아보세요.</p>
        <ul>
            <li>
                <img src="/img/popup/process_1.png" alt=""/>
                <span>회원가입</span>
            </li>
            <li>
                <img src="/img/popup/process_2.png" alt=""/>
                <span>프로필 등록</span>
            </li>
            <li>
                <img src="/img/popup/process_3.png" alt=""/>
                <span>프로젝트 등록</span>
            </li>
            <li>
                <img src="/img/popup/process_4.png" alt=""/>
                <span>파트너 모집</span>
            </li>
        </ul>
    </md-dialog-content>
    <md-dialog-actions layout="column" layout-align="start end">
        <md-button ng-click="confirm()" ng-disabled='userForm.$invalid'>X 오늘 하루 보지않기</md-button>
    </md-dialog-actions>
</md-dialog>
