<div class="container sub">
    <div class="sub_title_area">
        <h3>문의하기</h3>
    </div>
    <form method="post" name="inputForm" id="inputForm">
        <div class="input_area project qa" flex layout="column">
            <!-- 제목 -->
            <md-input-container class="md-block" md-no-float >
                <input type="text" name="ET_TITLE" ng-model="vm.data.ET_TITLE" required="" ng-maxlength="50" placeholder="문의 제목">
                <div ng-messages="inputForm.ET_TITLE.$error" ng-if="vm.showError">
                    <div ng-message="required">문의 제목을 입력해 주세요.</div>
                    <div ng-message="ng-maxlength">문의 제목은 50자 이내로 입력해 주세요.</div>
                </div>
            </md-input-container>
            <!-- 내용 -->
            <md-input-container class="md-block" md-no-float >
                <textarea name="ET_CONTENT" ng-model="vm.data.ET_CONTENT" rows="14" ng-maxlength="1000" placeholder="문의내용"></textarea>
                <div ng-messages="inputForm.ET_CONTENT.$error" ng-if="vm.showError">
                    <div ng-message="required">문의내용을 입력해 주세요.</div>
                    <div ng-message="ng-maxlength">문의내용은 1000자 이내로 입력해 주세요.</div>
                </div>
            </md-input-container>
        </div>
    </form>
    <div layout="row" class="join_btn">
        <md-button flex="20" class="gray" aria-label="취소" ng-click="vm.cancel()">취소</md-button>
        <md-button flex aria-label="등록" ng-click="vm.update()">등록</md-button>
    </div>
</div>